
ProjektWPF/ProjektWPF/bin/Debug/ProjektWPF.exe
ProjektWPF/ProjektWPF/bin/Debug/ProjektWPF.exe.config
ProjektWPF/ProjektWPF/bin/Debug/ProjektWPF.pdb
ProjektWPF/ProjektWPF/obj/Debug/App.g.cs
ProjektWPF/ProjektWPF/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ProjektWPF/ProjektWPF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjektWPF/ProjektWPF/obj/Debug/MainWindow.baml
ProjektWPF/ProjektWPF/obj/Debug/MainWindow.g.cs
ProjektWPF/ProjektWPF/obj/Debug/MainWindow.g.i.cs
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF.csproj.AssemblyReference.cache
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF.csproj.CoreCompileInputs.cache
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF.csproj.FileListAbsolute.txt
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF.csproj.GenerateResource.cache
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF.exe
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF.g.resources
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF.pdb
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF.Properties.Resources.resources
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF_MarkupCompile.cache
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF_MarkupCompile.i.cache
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF_MarkupCompile.i.lref
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF_MarkupCompile.lref
ProjektWPF/ProjektWPF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjektWPF/ProjektWPF/obj/Debug/DodawanieEdycjaWydarzen.baml
ProjektWPF/ProjektWPF/obj/Debug/OdliczeniaDoSwiat.baml
ProjektWPF/ProjektWPF/obj/Debug/Pamietnik.baml
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF.csproj.AssemblyReference.cache
ProjektWPF/.vs/ProjektWPF/v16/.suo
ProjektWPF/.vs/**
ProjektWPF/ProjektWPF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
ProjektWPF/.vs/ProjektWPF/v17/.suo
ProjektWPF/.vs/ProjektWPF/v17/.suo
ProjektWPF/.vs/ProjektWPF/v17/.suo
ProjektWPF/.vs/ProjektWPF/FileContentIndex/0a239377-e506-499d-bd82-ffc6446bc38a.vsidx
ProjektWPF/.vs/ProjektWPF/FileContentIndex/10a29533-29f6-45ed-b5ad-42b8ff3254d3.vsidx
ProjektWPF/.vs/ProjektWPF/FileContentIndex/28c6ed3b-08f4-4dbc-86c5-2b18b24dabea.vsidx
ProjektWPF/.vs/ProjektWPF/FileContentIndex/5d4be47d-374f-4e49-b7fb-e14d0749671f.vsidx
ProjektWPF/.vs/ProjektWPF/FileContentIndex/a725e9ad-b8a5-4ce3-9843-34f7f60b8551.vsidx
ProjektWPF/.vs/ProjektWPF/FileContentIndex/f7531a6f-b431-4e60-b723-9455c38b9266.vsidx
ProjektWPF/.vs/ProjektWPF/v17/.suo
