
ProjektWPF/ProjektWPF/obj/Debug/App.g.cs
ProjektWPF/ProjektWPF/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ProjektWPF/ProjektWPF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjektWPF/ProjektWPF/obj/Debug/MainWindow.g.cs
ProjektWPF/ProjektWPF/obj/Debug/MainWindow.g.i.cs
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF.csproj.AssemblyReference.cache
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF_MarkupCompile.cache
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF_MarkupCompile.i.cache
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF_MarkupCompile.i.lref
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF_MarkupCompile.lref
ProjektWPF/ProjektWPF/obj/Debug/MainWindow.g.i.cs
ProjektWPF/ProjektWPF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF_MarkupCompile.i.cache
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF.csproj.AssemblyReference.cache
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF_MarkupCompile.i.lref
ProjektWPF/ProjektWPF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjektWPF/ProjektWPF/obj/Debug/MainWindow.g.i.cs
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF.csproj.AssemblyReference.cache
ProjektWPF/ProjektWPF/obj/Debug/ProjektWPF_MarkupCompile.i.cache
